body {
	color: white;
	margin:0;
	padding:0;
    background-color:black;
	/* background:radial-gradient(#333,#000); */
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(145,145,150,1) 35%, rgba(0,212,255,1) 100%);
	}

  .Section-Title {
    font-family: 'Open Sans';
    text-decoration: underline;
    font-size: 200px; 
     
}

.Sub-Title {
    font-family: 'Open Sans';
    text-decoration: underline;
    font-size: 150px; 
     
}

  #Name {
	font-family: 'Open Sans';
	font-size: 50px; 
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
	text-align:left;
}

h3, h4, h5, .College, .Section-Title {
	margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #999;
}

.date {
	float: right;
}

footer {
	clear: both;
	text-align: center;
	font-weight: bold; 
	border-style: solid;
	width: 800px;
	margin: 40px auto 60px;
}

footer span{
	align:center;
	width: 350px;
}

/* Responsive Sizing based on pixel size */
@media (min-width: 24em) {
	#container{
	  /* Overrides the above styles on screens larger than 36em */
	  width: 350px;
	  margin: 18px auto 28px;
	}
  }

@media (min-width: 36em) {
	#container{
	  /* Overrides the above styles on screens larger than 36em */
	  width: 400px;
	  margin: 20px auto 30px;
	}
  }

  @media (min-width: 48em) {
	#container {
	  /* Overrides the above styles on screens larger than 48em */
	  width: 800px;
	  margin: 40px auto 60px;

	}
  }
