body {
	color: white;
	margin:0;
	padding:0;
    background-color:black;
    background:radial-gradient(#333,#000);
	}

	#content-contact{
		font-family: 'Open Sans';
		font-size:6em;
		text-align:left;
		color:#fff;
	}

h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}

@media (min-width: 36em) {
	#container{
	  /* Overrides the above styles on screens larger than 36em */
	  	  width: 400px;
	  margin: 20px auto 30px;
	}
  }

  @media (min-width: 48em) {
	#container {
	  /* Overrides the above styles on screens larger than 48em */
	  width: 800px;
	  margin: 40px auto 60px;

	}
  }

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#content-professionalheader {
	font-size: 30px;
}

.date {
	float: right;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

footer {
	clear: both;
	top-border: think solid #000;
	text-align: center;
	font-weight: bold; 
	border-style: solid;
	width: 800px;
	margin: 40px auto 60px;
}

footer span{
	align:center;
	width: 350px;
}
